.effective-grid-filters {
  margin: 0 0 10px 0;
  /* Buttons */
  /* Primary color on update button */
  /* Select2 Support */
}
.effective-grid-filters .effective-grid-filter {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
}
.effective-grid-filters .effective-grid-filter:last-child {
  padding-right: 0;
}
.effective-grid-filters .effective-grid-title {
  display: block;
  font-weight: bold;
}
.effective-grid-filters input,
.effective-grid-filters select,
.effective-grid-filters a.egrid-button,
.effective-grid-filters button {
  border: 1px solid #aaa;
  background: white;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 5px 8px 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.effective-grid-filters [type=submit],
.effective-grid-filters button,
.effective-grid-filters a.egrid-button {
  background: #eee;
  border-color: #eee;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  width: 150px !important;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.effective-grid-filters [type=submit] {
  background: #45bcde;
  color: #FFF;
}
.effective-grid-filters .effective-grid-filter-buttons {
  width: 100%;
  display: block;
  text-align: center;
  padding-right: 10px;
  box-sizing: border-box;
}
.effective-grid-filters option {
  font-size: 16px;
  font-family: "Open Sans";
}
.effective-grid-filters .select2-selection {
  padding: 4px 0 5px 0;
  height: auto !important;
  border-color: #aaa;
}
.effective-grid-filters .select2-selection__arrow {
  top: 7px !important;
}
.egrid-no-search .select2-search {
  display: none;
}
.effective-grid-elements {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.effective-grid-elements .effective-grid-element {
  flex: 1 1 auto;
  list-style: none;
  vertical-align: top;
  box-sizing: border-box;
}
.effective-grid-pagination ul {
  width: 100%;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}
.effective-grid-pagination li {
  list-style: none;
  display: inline-block;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0 5px;
}
.effective-grid-pagination li a {
  display: inline-block;
  width: 3em;
  padding: 0.75em;
  box-sizing: border-box;
}
.effective-grid-pagination li a:hover {
  background: #ccc;
  color: #000;
}
.effective-grid-pagination li.egrid-current-page a {
  font-weight: bold;
  background: #eee;
}
.effective-grid-pagination .egrid-page-link-first.egrid-current-page,
.effective-grid-pagination .egrid-page-link-last.egrid-current-page {
  display: none;
}
